body{
    margin: 0px;
    padding: 0px;
    display: grid;
    width: 100%;
    grid-template-areas:
      "header header header header"
      "table table table aside"
      "table table table aside";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 70%;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin: 0px !important;
}

button{
    cursor: pointer;
}

/* Header section */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e1e6ef;
    padding: 10PX 20px ;
    grid-area: header;
}

.header > .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-app{
    background-color: #F1F3F9;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: .2rem;
    margin: 0px 5px;
}

.btn-app-green{
    background-color: #5abb7a;
    color: white;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: .2rem;
    margin: 0px 5px;
}

.btn-app > span, .btn-app-green > span {
    font-size: 14px;
    padding-right: 5px;
}

.btn-app-icon{
    background-color: #F1F3F9;
    font-size: 14px;
    border: none;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    border-radius: .2rem;
    margin: 0px 5px;
}

.btn-app-icon > span{
    font-size: 14px;
}

/* Table section */

.table{
    grid-area: table;
    overflow-x: scroll;
}

table{
    overflow: scroll;
}

.table-head-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: fit-content;
}

/* per page */

.table-head-options .perPage {
    display: flex;
    align-items: center;
}

.table-head-options .perPage > p {
    font-size: 12px;
}

.table-head-options .perPage > select {
    margin: 0px 5px;
    padding: 3px;
    font-size: 12px;
    border: 1px solid #adbbca;
    border-radius: .2rem;
}

/* pagination */

.table-head-options .pagination {
    display: flex;
    align-items: center;
}

.table-head-options .pagination > h4 {
    margin: 0px;
    font-size: 15px;
    font-weight: normal;
    margin: 0px 5px;
}

/* page */

.table-head-options .Page {
    display: flex;
    align-items: center;
}

.table-head-options .Page > p {
    font-size: 12px;
}

.table-head-options .Page > select {
    margin: 0px 5px;
    padding: 3px;
    font-size: 12px;
    border: 1px solid #adbbca;
    border-radius: .2rem;
}

table{
    width: 100%;
    border-collapse: collapse
}

th{
    background-color: #f1f3f9;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    text-align: start;
}

td{
    text-align: start;
    font-size: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.253);
    padding: 8px 5px ;
    font-weight: 600;
}

.selected{
    background-color: #e8f1fe;
}

td .check {
    text-align: center;
}

td .date {
    display: flex;
    flex-direction: column;
}

td .date > p {
    margin-top: 5px !important;
    width: fit-content;
    padding: 5px;
    background-color: #ffefec;
    border-radius: .2rem;
    color: #e0593e ;
    text-transform: uppercase;
}

td .type {
    display: flex;
    flex-direction: column;
}

td .type > span {
    font-size: 8px;
    margin-top: 3px;
    font-weight: 300;
}

/* states */

/* Progress */
td .inprogress > p {
    width: fit-content;
    padding: 5px;
    background-color: #e8f1fe;
    border-radius: .2rem;
    color: #3d8af6 ;
    display: flex;
    align-items: center;
    height: fit-content;
    text-transform: uppercase;
}

td .inprogress > p > span {
    font-size: 10px;
    margin-right: 5px;
}

/* Pending */

td .pending > p {
    width: fit-content;
    padding: 5px;
    background-color: #f8f9fc;
    border-radius: .2rem;
    color: #1d2433 ;
    display: flex;
    align-items: center;
    height: fit-content;
    text-transform: uppercase;
}

td .success > p > span {
    font-size: 10px;
    margin-right: 5px;
}

td .success > p {
    width: fit-content;
    padding: 5px;
    background-color: #f0fff5;
    border-radius: .2rem;
    color: #5abb7a ;
    display: flex;
    align-items: center;
    height: fit-content;
    text-transform: uppercase;
}

td .pending > p > span {
    font-size: 10px;
    margin-right: 5px;
}

td .total {
    font-size: 10px;
    text-align: right;
}

td .unpaid {
    display: flex;
    text-align: right;
    flex-direction: column;
}

td .unpaid > span {
    display: flex;
    justify-content: flex-end;
}

td .unpaid > span > p {
    margin-top: 5px !important;
    width: fit-content;
    padding: 5px;
    background-color: #ffefec;
    border-radius: .2rem;
    color: #e0593e ;
    text-transform: uppercase;
}

td > span {
    font-size: 12px !important;
}


/* customers section */

.aside{
    grid-area: aside;
    background-color: #f8f9fc;
    padding: 10px 15px;
}

.aside-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-head .aside-title > p{
    font-size: 20px;
    font-weight: 300;
}

.alphabet{
    margin-top: 10px ;
    width: 100%;
    text-align: center;
}

.alphabet > p{
    font-size: 10px;
    font-weight: 100;
    color: #1d2433;
}

.searchbar{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.searchinput{
    position: relative;
    width: 55%;
    padding-right: 5px;
}

.searchinput > span{
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
}

.searchinput > input{
    border: 1px solid #bfcbd9;
    border-radius: .2rem;
    padding: 5px 30px;
    width: 70%;
}

.searchbtn{
    background-color: #accbf6;
    border: none;
    width: 40%;
}

.searchbtn > button {
    background-color: #c0d6f3;
    border: 1px solid #166ee8;
    width: 100%;
    padding: 5px;
    border-radius: .2rem;
    color: #166ee8
}

/* Customers */

.customers{
    width: 100%;
}

.customers > ul{
    padding-left: 15px;
} 

.customers > ul > li{
    margin-top: 3px;
    font-size: 15px;
    font-weight: 400;
} 

.customers > ul > li::marker{
    color: #e1e6ef;
} 

/* card */

.card-body{
    background-color: #E1E6EF;
    padding:  10px 10px ;
    border-radius: .5rem;
}

.card-body .card-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-body .card-head > h5 {
    margin: 0px;
    font-size: 18px;
    font-weight: bolder;
}

.card-body .card-head > span {
    margin: 0px;
    font-size: 14px;
}

.card-body .card-text{
    margin-top: 10px;
    font-size: 10px;
}

.btn-import{
    margin-top: 10px;
    display: flex;
    align-items: center;
    background-color: #c0d6f3;
    border: 1px solid #166ee8;
    padding: 5px;
    border-radius: .2rem;
    color: #166ee8
}

.btn-import > span{
    font-size: 14px;
    padding-right: 5px;
    cursor: pointer;
}

@media screen and (max-width:600px){

    body{
        margin: 0px;
        padding: 0px;
        display: grid;
        width: 100%;
        grid-template-areas:
          "header header header header"
          "aside aside aside aside"
          "table table table table"
          "table table table table";
        grid-template-columns: 70%;
        font-family: 'Montserrat', sans-serif;
        overflow: scroll;
    }

    table{
        width: 200%;
    }

}